*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
     "hd hd hd hd hd hd hd hd hd"
     "sb sb sb mn mn mn mn mn mn"
     "ft ft ft ft ft ft ft ft ft"
    ;
}
.flex-container{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    display: grid;
    /* grid-template-columns: 200px 200px 200px; */
    /* grid-template-columns: repeat(6,100px); */
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    fr
    /* grid-template-rows: 200px 200px; */

    /* display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: center; */
    & .box{
        display: grid;
        place-content: center;
        /* width: 200px;
        height: 100px; */
        font-size: 2rem;
        color: white;
        
    }
    & .item-1{
        background-color: #011;
        /* width: 200px; */
        /* grid-column-start: 1;
        grid-column-end: 3; */
        /* grid-column: 1/4; */
        grid-column: 1/span 2;
    }
    & .item-2{
        background-color: #022;
        /* position: absolute;
        left: 500px; */
        /* flex-grow: 1; */
    }
    & .item-3{
        background-color: #033;
        /* flex-shrink: 2; */
        /* position: fixed;
        left: 200px; */
    }
    & .item-4{
        background-color: #044;
        /* position: relative; */
        /* left: 100px; */
        /* flex-basis: 2; */
    }
    & .item-5{
        background-color: #055;
    }
    & .item-6{
        background-color: #066;
        /* position: sticky;
       top: 100px; */
    }
   
}
main{
    grid-area: mn;
}
header,aside,footer{
    font-size: 2rem;
    text-align: center;
}
header{
    background-color: orange;
    grid-area: hd;
}
aside{
    background-color: purple;
    grid-area: sb;
}
footer{
    grid-area: ft;
}