body{
    display: grid;
        place-content: center;
        min-height: 100vh;
        & h1 {
          font-size: 5rem;
          text-align: center;
          display: none;
          & span {
            color: orangered;
          }
        }

        h1:nth-child(1) {
          display: block;
        }
    @media (min-width:576px) {
        body{
            & h1:nth-child(1){
                display: none
            }
            & h1:nth-child(2){
                display: block;
            }
        };
    }
    
    @media (min-width:768px) {
        body{
            & h1:nth-child(2){
                display: none
            }
            & h1:nth-child(3){
                display: block;
            }
        };
    }
}